<!DOCTYPE html>
<html lang="en">
<head>
    <title>LogRenderer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ .WebsiteFaviconUrl }}" type="any" sizes="any">

    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/global-css">
    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/server-css">
    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/archive-css">

    <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="flex-box">
    {{ template "navbar" . -}}
    {{ $urlPrefix := .UrlPrefix }}
    <main>
        <div id="logs" class="logs">
            {{- if not .NoLogsLoadedYet }}
                {{- range $logLine := .ServerLogs }}
                    <div class="row">{{ $logLine }}</div>
                {{- end }}
            {{ end -}}
        </div>
    </main>
    {{- template "archive-loader" . -}}
</div>
{{ template "common-scripts" . -}}
</body>
</html>