<!DOCTYPE html>
<html lang="en">
<head>
    <title>LogRenderer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ .UrlPrefix }}/res/favicon-png" type="image/png" sizes="any">

    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/global-css">
    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/server-css">
    <link rel="stylesheet" href="{{ .UrlPrefix }}/res/archive-css">

    <meta name="theme-color" content="#fafafa">
</head>
<body>
<div class="flex-box">
    {{ template "navbar" . -}}
    {{ $urlPrefix := .UrlPrefix }}
    <main>
        <div id="logs" class="logs">
            {{- if not .NoLogsLoadedYet }}
                {{- range $logLine := .ServerLogs }}
                    <div class="row">{{ $logLine }}</div>
                {{- end }}
            {{ end -}}
        </div>
    </main>
    {{- template "archive-loader" . -}}
</div>
<script>
    const searchInput = document.getElementById("search-input");
    const archiveLoaderBackground = document.getElementById("archive-loader-background");
    const logsDiv = document.getElementById("logs");

    const inlineRegexps = {{ .SyntaxHighlightingRegexps }}.reverse();

    function handleLineFocus(target) {
        for (let i = 0; !target.classList.contains("row") && i < 10; i++) {
            target = target.parentElement;
        }
        const line = target;
        searchInput.value = "";
        handleSearch();
        line.classList.add("highlighted");
        line.scrollIntoView();
        setTimeout((row) => row.classList.remove("highlighted"), 2000, line);
    }

    function parseLine(line) {
        if (line.innerText.length === 0) {
            return line;
        }
        let lineText = line.textContent;
        for (const highlighter of inlineRegexps) {
            const field = highlighter.field;
            const regexp = new RegExp(highlighter.regex, "m");
            try {
                if (!regexp.test(lineText)) {
                    continue;
                }
                lineText = lineText.replace(regexp, `<span class="${field}">` + "$&" + "</span>");
            } catch (error) {
                console.error(field, regexp, line, error);
            }
        }
        line.innerHTML = lineText;
        line.addEventListener("click", ev => searchInput.value !== "" ? handleLineFocus(ev.target) : null);
        return line;
    }

    function isLogDivFullyScrolled() {
        return window.scrollY + window.innerHeight - logsDiv.getBoundingClientRect().top - logsDiv.offsetParent.getBoundingClientRect().top === logsDiv.scrollHeight;
    }

    function scrollToEnd() {
        if (logsDiv.firstElementChild != null) {
            logsDiv.lastElementChild.scrollIntoView();
        }
    }

    function toggleArchiveLoader() {
        if (archiveLoaderBackground.classList.contains("hidden")) {
            archiveLoaderBackground.classList.remove("hidden");
        } else {
            archiveLoaderBackground.classList.add("hidden");
        }
    }

    function submitArchive() {
        const selector = document.getElementById("archive-selector");
        if (selector != null) {
            const value = selector.value;
            if (value !== "") {
                window.location.replace("{{ .UrlPrefix }}/archive/{{ getCurrentServer }}/" + value);
            }
        } else {
            console.warn("No input found !");
        }
    }

    function handleSearch() {
        const value = searchInput.value.toLowerCase();
        if (value === "") {
            document.querySelectorAll("main .row.hidden").forEach(row => row.classList.remove("hidden"));
        } else {
            document.querySelectorAll("main .row").forEach(row => {
                if (row.textContent.toLowerCase().includes(value)) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
            });
        }
    }

    function toggleDynamicDropdown(serverType) {
        const dropdown = document.querySelector(`nav ul.servers li .dynamic-dropdown[server-type=${serverType}]`);
        const dropdownContent = dropdown.querySelector(`.dynamic-dropdown-content`);
        if (dropdown.classList.contains("selected")) {
            dropdown.classList.remove("selected");
        } else {
            if (dropdownContent.childElementCount === 0) {
                // get server instances
                console.info("Fetching", serverType, "instances ...");
                fetch("{{ .UrlPrefix }}/dynamic/?only=" + serverType).then(response => {
                    if (response.status >= 500) {
                        console.error("Error while fetching instances of server " + serverType + ":", response.statusText);
                        return;
                    }
                    response.json().then(jsonResponse => {
                        if (response.status !== 200) {
                            console.warn("Unexepected response from server:", jsonResponse.message);
                            return;
                        }
                        const instances = jsonResponse.data;
                        for (const instance in instances) {
                            // create link to the instance
                            const a = document.createElement("a");
                            a.classList.add("dynamic-dropdown-content-link");
                            a.href = "{{ .UrlPrefix }}/dynamic/" + serverType + "/" + instance;
                            a.innerText = instances[instance];
                            dropdownContent.appendChild(a);
                            // create separator
                            const hr = document.createElement("hr");
                            hr.classList.add("dynamic-dropdown-content-hr");
                            dropdownContent.appendChild(hr);
                        }
                    }).catch(reason => {
                        console.error("Failed to parse response to json:", reason);
                    });
                }).catch(reason => {
                    console.error("Failed to fetch instances of server " + serverType + ":", reason);
                });
            }
            dropdown.classList.add("selected");
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        searchInput.value = "";
        searchInput.addEventListener("input", handleSearch);
        searchInput.addEventListener("focusout", scrollToEnd);

        document.getElementById("archive-loader-trigger").addEventListener("click", toggleArchiveLoader);
        document.getElementById("archive-loader-background").addEventListener("click", toggleArchiveLoader);
        document.getElementById("archive-loader").addEventListener("click", ev => ev.stopPropagation());
        document.getElementById("submit-archive").addEventListener("click", submitArchive);

        document.querySelectorAll("nav ul.servers li .dynamic-dropdown").forEach(dropdown => {
            const serverType = dropdown.getAttribute("server-type");
            const title = dropdown.querySelector("span.dynamic-dropdown-title");
            title.addEventListener("click", () => toggleDynamicDropdown(serverType));
        });

        logsDiv.querySelectorAll("#logs > div.row").forEach(line => parseLine(line));
        scrollToEnd();
    });
</script>
</body>
</html>