@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    width: 100%;
    height: 100%;
    font-size: 17px;
    margin: 0;
    background-color: #151515;
    display: flex;
    flex-flow: column;
    color: white;
    font-family: 'Inconsolata', monospace;
}

div.flex-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

nav {
    width: calc(100vw - 10px);
    padding: 5px;
    background-color: #373737;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 auto;
    z-index: 1;
}

nav .sc-logo {
    display: flex;
    align-items: center;
}

nav .sc-logo a {
    margin: 0 1em;
}

nav .title-container {
    display: flex;
    align-items: center;
}

nav .title {
    letter-spacing: 2px;
    margin: -0.1em 0.1em 0.1em;
}

nav .title a {
    color: white;
    text-decoration: none;
}

nav .title a:hover {
    text-decoration: underline;
}

nav ul.servers {
    width: inherit;
    padding-left: 1.2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    font-size: 18px;
}

nav ul.servers li {
    margin: 2px 0;
    padding-left: 15px;
}

nav ul.servers li:not(:last-child) {
    padding-right: 15px;
    border-right: 1px solid white;
}

nav ul.servers li > * {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav ul.servers li a:hover, span.dynamic-dropdown-title:hover {
    text-decoration: underline;
}

nav ul.servers li a.active, span.dynamic-dropdown-title.active, a.dynamic-dropdown-content-link.active {
    color: #65a6dd !important;
}

nav ul.servers li .dynamic-dropdown .dynamic-dropdown-content {
    display: none;
    position: absolute;
    top: 55px;
    background-color: #373737;
    min-width: 130px;
    box-shadow: 0 0 20px 0 rgba(7,7,7,0.5);
    z-index: 1;
}

nav ul.servers li .dynamic-dropdown.selected .dynamic-dropdown-content {
    display: block;
}

nav ul.servers li .dynamic-dropdown .dynamic-dropdown-content .dynamic-dropdown-content-link {
    float: none;
    padding: 12px 16px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav ul.servers li .dynamic-dropdown .dynamic-dropdown-content .dynamic-dropdown-content-link:hover {
    text-decoration: underline;
}

nav ul.servers li .dynamic-dropdown .dynamic-dropdown-content .dynamic-dropdown-content-hr {
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
}

nav ul.servers li .dynamic-dropdown .dynamic-dropdown-content .dynamic-dropdown-content-hr:last-child {
    display: none;
}

nav #navbar-right {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

nav #navbar-right > span {
    margin-right: 10px;
}

nav #navbar-right > span:not(:last-child) {
    border-right: 1px solid white;
    padding-right: 10px;
}

main {
    overflow-y: auto;
    flex: 1 1 auto;
}
