<!DOCTYPE html>
<html lang="en">
<head>
    <title>LogRenderer</title>

    <link rel="icon" href="{{.UrlPrefix}}/res/favicon-png" type="image/png" sizes="any">

    <link rel="stylesheet" href="{{.UrlPrefix}}/res/global-css">
</head>
<body>
{{ template "navbar" . -}}
</body>
</html>