{{ define "navbar" }}
    {{- $urlPrefix := .UrlPrefix -}}
    <nav>
        <div class="sc-logo">
            <a href="https://www.space-cube.fr">
                <img src="https://www.space-cube.fr/storage/img/sc-logo.png" alt="SpaceCube" width="50">
            </a>
        </div>
        <div class="title-container">
            <h1 class="title"><a href="{{ $urlPrefix }}/">Logs</a></h1>
        </div>
        <ul class="servers">
            {{- range $i, $serv := .Servers }}
                <li>
                    <a href="{{ $urlPrefix }}/server/{{ $serv.Tag }}"
                            {{- if and (isServer) (eq $serv.Tag getCurrentServer) }} class="active"{{ end }}>{{ $serv.DisplayName }}</a>
                </li>
            {{ end -}}
        </ul>
        <div id="navbar-right">
            {{- if isServer }}<span id="websocket-status" title="Websocket status"></span>{{ end -}} <span
                    id="last-update"
                    title="Last update">{{ .ExecDate }}</span>
            <span id="version" title="Current LogRenderer version">{{ .Version }}</span>
        </div>
    </nav>
{{ end }}