{{ define "navbar" }}
    {{- $urlPrefix := .UrlPrefix -}}
    {{- $servDisplayName := .ServerDisplayName -}}
    <nav>
        <div class="app-logo">
            <a href="{{ .WebsiteHomeUrl }}">
                <img src="{{ .WebsiteLogoUrl }}" alt="Logo" width="50">
            </a>
        </div>
        <div class="title-container">
            <h1 class="title">
                <a href="{{ $urlPrefix }}/">Logs</a>
            </h1>
        </div>
        <ul class="servers">
            {{- range $i, $serv := .Servers }}
                <li>
                    {{- if $serv.IsDynamic }}
                        <div class="dynamic-dropdown" server-type="{{ $serv.Tag }}">
                            {{- if and (isServer) (eq $serv.Tag getCurrentServer) }}
                                <span class="dynamic-dropdown-title active"
                                      title="Click to toggle instances">{{ $servDisplayName }}</span>
                            {{- else }}
                                <span class="dynamic-dropdown-title"
                                      title="Click to toggle instances">{{ $serv.DisplayName }}</span>
                            {{ end }}
                            <div class="dynamic-dropdown-content"></div>
                        </div>
                    {{- else }}
                        <a href="{{ $urlPrefix }}/server/{{ $serv.Tag }}"
                                {{- if and (isServer) (eq $serv.Tag getCurrentServer) }} class="active"{{ end }}>{{ $serv.DisplayName }}</a>
                    {{- end }}
                </li>
            {{ end -}}
        </ul>
        {{- if isServer }}
            <div id="search-bar">
                <input id="search-input" required title="Search for logs">
                {{/*<label id="search-icon" for="search-input" title="Search for logs">&#9906;</label>*/}}
                <label id="search-icon" for="search-input" title="Search for logs">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 752 752">
                        <defs>
                            <clipPath id="search-icon-svg">
                                <path d="m139.21 139.21h473.58v473.58h-473.58z"/>
                            </clipPath>
                        </defs>
                        <g clip-path="url(#search-icon-svg)">
                            <path d="m174.14 612.79 132.52-132.5c32.109 24.73 72.277 39.484 115.85 39.484 104.92 0 190.28-85.359 190.28-190.28 0-104.92-85.359-190.28-190.28-190.28s-190.28 85.359-190.28 190.28c0 43.578 14.758 83.75 39.496 115.86l-132.52 132.5zm248.37-424.18c77.684 0 140.87 63.199 140.87 140.88-0.003906 77.68-63.191 140.88-140.87 140.88-77.684 0-140.87-63.199-140.87-140.88 0-77.68 63.188-140.88 140.87-140.88z"
                                  fill="#fff"/>
                        </g>
                    </svg>
                </label>
            </div>
        {{ end -}}
        <div id="navbar-right">
            {{ if and (isServer) (not isArchive) -}}
                <span id="websocket-status" title="Websocket status"></span>
            {{- end }}
            <span id="last-update" title="Last update">{{ .ExecDate }}</span>
            {{ if isIndex -}}
                <span id="version" title="Current LogRenderer version">{{ .Version }}</span>
            {{- else -}}
                <label for="max-lines-count" title="Maximum lines count">
                    <input id="max-lines-count" type="number" min="-1" max="99999">
                </label>
            {{- end }}
        </div>
    </nav>
{{- end }}