#search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    background: transparent;
    height: 20px;
    width: 20px;
    padding: 2px;
    border: 1px solid #4b4b4b;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

#search-input:focus, #search-input:valid {
    width: 150px;
    padding: 4px;
    border: 1px solid #4b4b4b;
    border-radius: 2px;
    cursor: text;
}

#search-icon {
    /*transform: translateX(-184%) rotate(45deg) scale(1.25);*/
    position: relative;
    left: -50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#search-input:focus + #search-icon,
#search-input:valid + #search-icon {
    visibility: hidden;
    opacity: 0;
    color: transparent;
    cursor: text;
    transform: translateX(450%);
    /*transform: translateX(50%) rotate(45deg);*/
}

#websocket-status {
    height: 0.7rem;
    width: 0.7rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    border-right: none !important;
    padding-right: 0 !important;
}

#websocket-status.connected {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
}

nav #navbar-right > label[for='max-lines-count'] {
    max-width: 4em;
}

nav #navbar-right > label[for='max-lines-count'] > input {
    max-width: 90%;
    border: 1px solid white;
    border-radius: 3px;
}

main .logs {
    padding: 0.5rem;
    scroll-behavior: smooth;
}

main .logs .row {
    white-space: break-spaces;
}

/*main .logs .row .time {
    color: #65a6dd;
}

main .logs .row .info {
    color: #686ced;
}

main .logs .row .warn {
    color: #dcc369;
}

main .logs .row .error {
    color: #ff7171;
}

main .logs .row.error {
    background-color: #631515;
}*/

main .logs .row.hidden {
    display: none;
}

main .logs .row.highlighted {
    background: linear-gradient(to right, #006400ba 50%, transparent);
}

#scroll-to-bottom {
    opacity: 0;
    position: absolute;
    bottom: 25px;
    right: 25px;
    background-color: rgba(var(--common-gray), 0.75);
    padding: 5px 15px;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: 0.1s ease;
}

#scroll-to-bottom.shown {
    opacity: 1;
}

@-webkit-keyframes pulse {
    from {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px 3px #333;
    }
    50% {
        background-color: #91bd09;
        -webkit-box-shadow: 0 0 10px 3px #91bd09;
    }
    to {
        background-color: #749a02;
        -webkit-box-shadow: 0 0 9px 3px #333;
    }
}
